@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sizeSubtitle {
    @apply text-[14px] font-normal leading-relaxed tracking-wide lg:text-[16px];
  }
  .sizeTitle {
    @apply text-[28px] leading-none tracking-tight text-textPrimary lg:text-[60px];
  }
  .decorative-stripes {
    background-image: linear-gradient(
      45deg,
      #2d2d2d 12.5%,
      transparent 12.5%,
      transparent 50%,
      #2d2d2d 50%,
      #2d2d2d 62.5%,
      transparent 62.5%,
      transparent 100%
    );
    background-size: 5px 5px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-aspekta);
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
